<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>文件上传</h1>
    <form id="singleUploadFome" name="singleUploadForm" method="post" enctype="multipart/form-data" action="/file/upload/">
        <p>
            <label>文件</label>
            <input type="file" id="uploadFile" name="uploadFile" required/>
        </p>
        <p>
            <button type="submit">上传</button>
        </p>
    </form>
    {{ msg }}
</body>
</html>